*{
    margin:0px;
    padding:0px;
    font-family:'Courier New', Courier, monospace;
}
.nav{
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0px 2px 3px rgb(195, 195, 195);
}
.logo{
    width: 16%;
    height: 80%;
    display: block;
    background: url(./src/ShibaCatify\ -\ MarkMaker\ Logo.png) no-repeat center;
    background-size:cover;
}
.items{
    margin-left: 5px;
    display: flex;
    justify-content:space-between;
}
.item{
    width: 100px;
    margin: 10px;
    padding: 5px;
    display: block;
    border-radius: 5px;
    border-bottom:0px solid rgb(4, 255, 192);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.item:hover{
    width: 100px;
    margin: 10px;
    padding: 5px;
    display: block;
    border-radius: 5px;
    background-color: #dddddd;
    transition: 1s;
}
.login{
    width: 100px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid #dddddd;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.login:hover{
    transition: 1s;
    background-color: #dddddd;
}
.hero-section{
    width: 100%;
    height: 60vh;
    margin-bottom: 40px;
    display: block;
    align-items: center;
    background: url(./src/shiba.png) no-repeat center;
    background-size: cover;
}

.search-card{
   width: 80%;

   margin: auto;
   padding: 20px;
   display: block;
   border-radius: 2%;
   background-color: #fff;
   box-shadow: 0px 2px 3px rgb(195, 195, 195);
   /* position: relative; */
}

.search-type{
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
 }
 .search-conditions{
    margin: 10px;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
 }
 input{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
  }
  select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
dog{
    margin-right: 20px;
    border-bottom:5px solid #e0d5d5;
    cursor: pointer;
}
 .dog:hover{
    border-bottom:5px solid #e0d5d5;
    transform: scaleX(10deg);
    transition: 0.1s;
    opacity: 0.5;
    cursor: pointer;
 }
 cat{
    margin-right: 20px;
    border-bottom:5px solid #e0d5d5;
    cursor: pointer;

}
 .cat:hover{
    border-bottom:5px solid #e0d5d5;
    transform: scaleX(10deg);
    transition: 0.1s;
    opacity: 0.5;
    cursor: pointer;
 }
 .search-button{
    width: 300px;
    height: 20px;
    margin: 12px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dddddd;
    font-size: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
 }
 .search-button:hover{
    background-color: #949494;
    transition: 1s;
  }
  
 .title{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: 44px;
    font-weight: 600;
}
.bottom-line{
    width: 80px;
    height: 4px;
    margin-right: 80px;
    display: flex;
    background-color: black;
    border-radius: 10px;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.pet-section{
    width: 100%;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.pet-card-group{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:space-between;
}
.pet-card{
    width: 33%;
   height: 80%;
    margin: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px rgb(195, 195, 195);
    cursor: pointer;
}
.pet-card:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 3px rgb(195, 195, 195);
    cursor: pointer;
}
.pet-picture{
    width: 150px;
    height: 150px;
    /* margin: 20px; */
    border-radius: 4px;
    display: block;
    background: url(./src/cat.svg)no-repeat center;
    background-size:cover;
}
.pet-information{
    width: 150px;
    height: 150px;;
    /* margin: 20px; */
    margin-left: 5px;
    padding: 2px;
    display: block;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    
}
.information{
    /* margin-bottom: 5px; */
    display: block;
}

.article-section{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.article-card-group{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
.article-card{
    width: 80%;

    margin: 20px;
    padding: 10px;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px rgb(195, 195, 195);
    cursor: pointer;
}
.article-card:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 3px rgb(195, 195, 195);
    cursor: pointer;
}
.article-picture{
    width: 30%;
    height: 200px;
    margin: 20px;
    border-radius: 4px;
    display: block;
    background: url(./src/article_picture.svg) no-repeat center;
}

.article-information{
    width: 70%;
    height: 10px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
.learn-more{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}
.learn-more-btn{
    width: 180px;
    height: 20px;
    /* margin: 16px; */
    padding: 10px;
    /* display: block; */
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.learn-more-btn:hover{
  background-color: #dddddd;
  transition: 1s;
}


.map-section{
    width: 80%;
    height: 60vh;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background: url(./src/map.svg);
}
.footer{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
}
.contact{
    width: 60%;
    height: 36px;
    margin: 16px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500; 
    text-align: center;
    cursor: pointer;
}
.contact:hover{
    background-color:#dddddd;
    transition: 1s;
    cursor: pointer;
}
.social-group{
    width: 200px;
    font-size: 8px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


@media screen and (max-width:1000px) and (min-width: 781px){ 
    .logo{
        width: 20%;
        height: 80;
        font-size: 40px;
        font-weight: 600;
    }
    .items{
        width: 50%;
        margin-left: 16px;
        display: flex;
        justify-content:flex-end;
    }
    .item{
        width: 80px;
        margin: 4px;
        padding: 2px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border-bottom:0px solid rgb(4, 255, 192);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .login{
        width: 80px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 2px solid #dddddd;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .pet-section{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    .pet-card-group{
        width: 80%;
        height: 200px;
        display: flex;
        justify-content:space-between;
    }
    .pet-card{
        max-width:32%;
        height: 180px;
        margin: 4px;
        padding: 10px;
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgb(195, 195, 195);
        cursor: pointer;
    }
    .pet-picture{
        width: 180px;;
        margin: 4px;
        border-radius: 4px;
        display: block;
        background: url(./src/cat.svg)no-repeat center;
        background-size:cover;

    }
    .pet-information{
        width: 100px;
        margin: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 600;
        
    } 
    .article-section{
        width: 100%;
        /* height:1000px; */
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    
    .article-card-group{
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
    }
    .article-card{
        width: 80%;
        height: 200px;
        margin: 20px;
        padding: 10px;
        display: flex;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgb(195, 195, 195);
        cursor: pointer;
    }
    .article-picture{
        width: 30%;
        height: 160px;
        margin: 20px;
        border-radius: 4px;
        display: block;
        background: url(./src/article_picture.svg) no-repeat center;
    }
    
    .article-information{
        width: 70%;
        height: 10px;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .learn-more{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        cursor: pointer;
    }
}

@media screen and (max-width:780px) and (min-width: 610px){ 
    .logo{
        width: 20%;
        height: 80;
        font-size: 40px;
        font-weight: 600;
    }
    .items{
        width: 50%;
        margin-left: 16px;
        display: flex;
        justify-content:flex-end;
    }
    .item{
        width: 80px;
        margin: 4px;
        padding: 2px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border-bottom:0px solid rgb(4, 255, 192);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .login{
        width: 80px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 2px solid #dddddd;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .pet-section{
        width: 100%;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    .pet-card-group{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    .pet-card{
        width:100%;
        margin: 4px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgb(195, 195, 195);
        cursor: pointer;
    }
    .pet-picture{
        width: 180px;
        margin: 4px;
        border-radius: 4px;
        display: block;
        background: url(./src/cat.svg)no-repeat center;
        background-size:cover;

    }
    .pet-information{
        width: 100px;
        margin: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        
    } 
    .article-section{
        width: 100%;
        /* height:1000px; */
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    
    .article-card-group{
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
    }
    .article-card{
        width: 80%;
        height: 200px;
        margin: 20px;
        padding: 10px;
        display: flex;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgb(195, 195, 195);
        cursor: pointer;
    }
    .article-picture{
        width: 30%;
        height: 160px;
        margin: 20px;
        border-radius: 4px;
        display: block;
        background: url(./src/article_picture.svg) no-repeat center;
    }
    
    .article-information{
        width: 70%;
        height: 10px;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .learn-more{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        cursor: pointer;
    }
}

@media screen and (max-width:609px) and (min-width: 423px){ 
    .logo{
        width: 40%;
        height: 80;
        font-size: 40px;
        font-weight: 600;
    }
    .items{
        width: 50%;
        margin-left: 16px;
        display: none;
        justify-content:flex-end;
    }
    .item{
        width: 80px;
        margin: 4px;
        padding: 2px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border-bottom:0px solid rgb(4, 255, 192);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .login{
        width: 80px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 2px solid #dddddd;
        display: none;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .pet-section{
        width: 100%;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    .pet-card-group{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    .pet-card{
        width:80%;
        margin: 4px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgb(195, 195, 195);
        cursor: pointer;
    }
    .pet-picture{
        width: 180px;
        margin: 4px;
        border-radius: 4px;
        display: block;
        background: url(./src/cat.svg)no-repeat center;
        background-size:cover;

    }
    .pet-information{
        width: 100px;
        margin: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        
    } 
    .article-section{
        width: 100%;
        /* height:1000px; */
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    
    .article-card-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
    }
    .article-card{
        width: 80%;
        /* height: 200px; */
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgb(195, 195, 195);
        cursor: pointer;
    }
    .article-picture{
        width: 80%;
        height: 160px;
        margin: 20px;
        border-radius: 4px;
        display: block;
        background: url(./src/article_picture.svg) no-repeat center;
    }
    
    .article-information{
        width: 70%;
        height: 200px;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .learn-more{
        width: 100%;
        margin-top:5px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        cursor: pointer;
    }
}
   
@media screen and (max-width:422px) and (min-width: 375px){ 
    .logo{
        width: 40%;
        height: 80;
        font-size: 40px;
        font-weight: 600;
    }
    .items{
        width: 50%;
        margin-left: 16px;
        display: none;
        justify-content:flex-end;
    }
    .item{
        width: 80px;
        margin: 4px;
        padding: 2px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border-bottom:0px solid rgb(4, 255, 192);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .login{
        width: 80px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 2px solid #dddddd;
        display: none;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .pet-section{
        width: 100%;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    .pet-card-group{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    .pet-card{
        width:80%;
        margin: 4px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgb(195, 195, 195);
        cursor: pointer;
    }
    .pet-picture{
        width: 180px;
        margin: 4px;
        border-radius: 4px;
        display: block;
        background: url(./src/cat.svg)no-repeat center;
        background-size:cover;

    }
    .pet-information{
        width: 100px;
        margin: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        
    } 
    .article-section{
        width: 100%;
        /* height:1000px; */
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    
    .article-card-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
    }
    .article-card{
        width: 80%;
        /* height: 200px; */
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgb(195, 195, 195);
        cursor: pointer;
    }
    .article-picture{
        width: 80%;
        height: 160px;
        margin: 20px;
        border-radius: 4px;
        display: block;
        background: url(./src/article_picture.svg) no-repeat center;
    }
    
    .article-information{
        width: 70%;
        height: 200px;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .learn-more{
        width: 100%;
        margin-top:5px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        cursor: pointer;
    }
}







